<nav class="navbar navbar-expand-lg py-0 navbar-brand navbar-absolute navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a routerLink="/inicio"><img src="../../../assets/img/Orden.png" width="500" height="100" alt="EspePay"></a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button">
            <i class="material-icons">menu</i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" tooltipPosition="top">
                        <i class="material-icons" routerLink="/inicio">house</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>