<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Órdenes De Gasto</h4>
                <p class="card-category">
                    Editar Órden de Gasto
                </p>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-4">
                            <label class="font-weight-bold">Numero Orden: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.id_orden" type="number" id="Orden" formControlName="Orden" name="Orden" min="1" placeholder="ORD" class="outlinenone" size="10" required />
                                <span class="text-danger" *ngIf="editForm.controls['Orden'].errors?.pattern">numero de orden invalido</span>
                            </div>
                        </div>


                        <div class="col-4">
                            <label class="font-weight-bold">Número de contrato: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.numero_contrato" type="number" id="Valor" name="Valor" min="1" placeholder="Número Contrato" formControlName="Valor" class="outlinenone" size="10" required />
                                <span class="text-danger" *ngIf="editForm.controls['Valor'].errors?.pattern">numero de orden invalido</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <label class="font-weight-bold">Cantidad: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.cantidad" type="number" id="Cantidad" name="Cantidad" formControlName="Cantidad" placeholder="Cantidad" class="outlinenone" size="10" required />
                                <span class="text-danger" *ngIf="editForm.controls['Cantidad'].errors?.pattern">numero de cantidad invalido</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <label class="font-weight-bold">Precio Unitario: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.precioUnitario" type="number" id="precioUnitario" name="precioUnitario" formControlName="precioUnitario" placeholder="presio unitario" class="outlinenone" required />
                                <span class="text-danger" *ngIf="editForm.controls['precioUnitario'].errors?.pattern">Precio Unitario invalido</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <label class="font-weight-bold">Mes:</label>
                            <select [(ngModel)]="contado.mes" name="Mes" id="Mes" class="select-css">
                            <option selected hidden>Mes</option> 
                            <option >Enero</option> 
                            <option >Febrero</option> 
                            <option >Marzo</option> 
                            <option >Abril</option> 
                            <option >Mayo</option> 
                            <option >Junio</option> 
                            <option >Julio</option> 
                            <option >Agosto</option> 
                            <option >Septiembre</option> 
                            <option >Octubre</option> 
                            <option >Noviembre</option> 
                            <option >Diciembre</option>
                        </select>
                        </div>

                        <div class="col-4">
                            <label class="font-weight-bold">Iva: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.obtencion_iva" type="number" step="0.01" id="Iva" name="Iva" placeholder=" 0.12" formControlName="Iva" class="outlinenone" size="25" required />
                                <span class="text-danger" *ngIf="editForm.controls['Iva'].errors?.pattern">Iva invalido</span>
                            </div>
                        </div>




                        <div class="col-4">
                            <label class="font-weight-bold">Otros Impuestos: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.obtencion_otro_impuesto" type="number" step="0.01" id="OtrImp" name="OtrImp" placeholder="0.15" formControlName="OtrImp" class="outlinenone" size="25" />
                                <span class="text-danger" *ngIf="editForm.controls['OtrImp'].errors?.pattern">Otros impuestos invalido</span>
                            </div>
                        </div>


                        <div class="col-12">
                            <label class="font-weight-bold">Descripcion: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.descripcion" class="outlinenone" type="text" id="Descripcion" name="Descripcion" formControlName="Descripcion" placeholder="Descripción" size="80" required />
                            </div>
                        </div>


                        <div class="col-4">
                            <label class="font-weight-bold">No° Contrato/Orden de Compra/Contratacion: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.numOrden" type="number" id="numeroContratoE" name="numeroContratoE" formControlName="numeroContratoE" class="outlinenone" size="80" placeholder="Numero de contrato / Orden de Contrato/ Contratación" />
                                <span class="text-danger" *ngIf="editForm.controls['numeroContratoE'].errors?.pattern">Número de contrato invalido</span>
                            </div>
                        </div>


                        <div class="col-12">
                            <label class="font-weight-bold">Objeto de Contratación: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]=" contado.objeto_contrato" type="text" id="ObjetoContrato" name="ObjetoContrato" formControlName="ObjetoContrato" placeholder="Objeto de la contratacion" class="outlinenone" size="80" required />
                            </div>
                        </div>


                        <div class="col-4">
                            <label class="font-weight-bold">Nombre de Contratista: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.nombreContratista" type="text" id="NombreContratist" name="NombreContratista" placeholder="Nombre del Contratista" formControlName="NombreContratist" class="outlinenone" size="45" required />
                                <span class="text-danger" *ngIf="editForm.controls['NombreContratist'].errors?.pattern">nombre invalido</span>
                            </div>
                        </div>



                        <div class="col-4">
                            <label class="font-weight-bold">Ruc del Contratista: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]="contado.ruc_contratista" type="number" id="Ruc" name="RucContratista" class="outlinenone" formControlName="RucContratista" placeholder="Ruc Contratista" size="40" required />
                                <span class="text-danger" *ngIf="editForm.controls['RucContratista'].errors?.pattern">Ruc invalido</span>
                            </div>
                        </div>


                        <div class="col-4">
                            <label class="font-weight-bold">Fecha: </label>
                            <div [formGroup]="editForm">
                                <input [(ngModel)]=" contado.fechaHoraIni" *ngFor="let format of formatsDateTest" type="text" formControlName="horaFech" id="horaFech" name="horaFech" class="outlinenone" value="{{dateNow | date: format}}" required />

                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
            <div [hidden]="!submitted">
                <h4>You submitted successfully!</h4>
            </div>

        </div>
    </div>
</div>