<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/img/inicio.png" class="img1" alt="imagen 1">

            </div>
            <div class="carousel-item">
                <img src="../../assets/img/inicio2.png" class="img2" alt="imagen 2">

            </div>
            <div class="carousel-item">
                <img src="../../assets/img/imagen5.JPG" class="img3" alt="imagen 3">

            </div>
        </div>

    </div>
</div>
<footer class="footer-distributed">

    <div class="footer-left">

        <img width="300" alt="Angular Logo" src="../../assets/img/espe.png">
    </div>
    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>Sangolquí </p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+593 0983659636</p>
        </div>


    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Buscanos en nuestras páginas</span>
            <div class="footer-icons">
                <a rel="nofollow" href="https://www.facebook.com/ESPE.U/" target="_blank" title="Facebook" style="color: #1e27cf"><i class="fa fa-facebook-f"  width="32" height="32"></i></a>
                <a rel="nofollow" href="https://twitter.com/espeu?lang=es" target="_blank" title="TWITTER" style="color: #0ea5e5"><i class="fa fa-twitter"></i></a>
                <a rel="nofollow" href="https://www.flickr.com/photos/134724373@N06/" target="_blank" title="FILCKR" style="color: #020202"><i class="fa fa-flickr"></i></a>
                <a rel="nofollow" href="https://www.youtube.com/channel/UCjRzHl4K3cY5RhERJoIme-Q" target="_blank" title="YOU TUBE" style="color: #fd0202"><i class="fa fa-youtube-play"></i></a>
                <a rel="nofollow" href="https://www.instagram.com/espe.u/" target="_blank" title=" INSTAGRAM" style="color: #aa2f76"><i class="fa fa-instagram"></i></a>
            </div>

    </div>

</footer>